.main-chat
  .main-chat__group-info
    .main-chat__left-box
      .main-chat__left-box__current-group
        %h1 #{@group.name}
      %ul.main-chat__left-box__member-list

        Member :
        - @group.users.each do |user|
          %span.chat-header__user #{user.name}
    = link_to "/groups/#{@group.id}/edit" do
      .main-chat__edit-btn
        Edit
  .main-chat__message-list
    .messages
      = render @messages

  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        = f.label :image, class: 'form__message__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'form__message__image__file'
      = f.submit 'Send', class: 'form__submit'

