.side-bar
  .side-bar_user-name
    .top-items
      .top-items__name
        =current_user.name
      .top-items__icons
        %ul.top-items__icons__menu
          %li.top-items__icons__menu__new-group
            = link_to  new_group_path do
              = icon('fas', 'pen-square', class: 'icon')
          %li.top-items__icons__menu__edit-user
            = link_to edit_user_path(current_user) do
              = icon('fas', 'cog', class: 'icon')
  .groups-list
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          %p.group-name
            = group.name
          %p.group-latest-message
            = group.show_last_message